<div id="<%= dom_id saved_secret %>">
  <p>
    <strong>Title:</strong>
    <%= saved_secret.title %>
  </p>

  <p style='color: #<%= saved_secret.color %>'>
    <strong>Saved skb:</strong>
    <%= saved_secret.saved_skb.first(5) %>...
    <%= saved_secret.saved_skb.last(5) %>
  </p>

</div>
